<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tohuangshuai.dao.mapper.CourseMapper" >
    <resultMap id="BaseResultMap" type="cn.tohuangshuai.pojo.domain.Course" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
        <result column="max_stus" property="maxStus" jdbcType="INTEGER" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="site" property="site" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="INTEGER" />
        <result column="school_time" property="schoolTime" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectAllByTeacherId" parameterType="String" resultMap="BaseResultMap">
        select * from course where teacher_id = #{teacherId} order by create_time desc
    </select>

    <select id="selectAllByGrade" parameterType="Integer" resultMap="BaseResultMap">
        select * from course where grade = #{grade} order by create_time desc
    </select>

    <update id="addCount" parameterType="String" >
        update course set `count` = `count` + 1 where id = #{courseId}
    </update>

    <update id="reduceCount" parameterType="String" >
        update course set `count` = `count` - 1 where id = #{courseId}
    </update>

    <select id="getCoursesByIdList" parameterType="List" resultMap="BaseResultMap">
        select * from course where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>